
/*input[type=checkbox] {
  outline: 0
}*/

.alpha0{
  opacity: 0;
}

.pointer0{
  pointer-events: none;
}

.margin0{
  margin: 0;
}

.padding0{
  padding: 0;
}

.display0{
  display: none;
}


@font-face {
  font-family: logo-font;
  src: url("../font/Lightening%20Free%20Font.ttf");
}

@font-face {
  font-family: cuprum-font;
  src: url("../font/Cuprum-Regular.ttf");
}

@font-face {
  font-family: segoeui-font;
  src: url("../font/SEGOEUI.TTF");
}

@font-face {
  font-family: segoeui-semibol-font;
  src: url("../font/seguisb.ttf");
}

@font-face {
  font-family: segoeui-light-font;
  src: url("../font/segoeuil.ttf");
}

@font-face {
  font-family: font-awesome;
  src: url("../font/fontawesome-webfont.ttf");
}

@font-face {
  font-family: segoeui-italic-font;
  src: url("../font/segoeuii.ttf");
}