//main platform config
$platform-shadow-y :2px;
$platform-shadow-blur : 18px;



//search bar
$search-title-bar-height :50px;
$search-bottom-bar-height :50px;












//module section config
$module-left-bar-width : 60px;
$module-title-bar-height : 50px;


//colors
$color-pink-main :  #E91E63;
$color-pink-dull :#F48FB1;
$color-white-dull : #f4f4f4;

$color-black-dark : #333333;
$color-black-main : #6A6B70;
$color-black-dull: #A8A9B1;

$color-cyan-main : #00BCD4;

$color-purple-main: #9c27b0;

$color-light-green-main : #8bc34a;

$color-blue-main : #2196F3;

$color-red-main : #F44336;


$colo-green-main :#009688;

$color-orange-main :#ff9800;

$color-yellow-main : #FFC107;

$color-light-blue-main : #03a9f4;

//fonts
$font-main-normal : segoeui-font;
$font-main-semi-bold :segoeui-semibol-font;
$font-main-light : segoeui-light-font;
$font-logo : logo-font;
$font-awesome :font-awesome;


//transition
$module-tab-transition : all .2s ease-out;


//padding
$module-padding :10px;